include README.md
include LICENSE
include requirements.txt
include banner.py
include xerosploit.py
include run.sh
include install.py
include install_pipx.sh
include test_installation.py
include PIPX_USAGE.md
recursive-include debian *
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .git*
